/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Disable list bullets
 */
ul { margin: 0; padding: 0; }
li { list-style-type: none; margin: 0; padding: 0; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 
 Theme color:
 Primary: #3F51B5
 Accent: #FF4081
*/

/* fonts */
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* global */
body {
    font-family: 'robotoregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h1, h2, h3 {
    font-family: 'robotomedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 24px;
}

h3 {
    font-family: 'robotoregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: #FF4081;
}

a:focus,
a:active {
    background: none;
    outline: none;
}

.intro {
    margin-bottom: 32px;
}

.intro h2 {
    margin-bottom: 0;
}

.item-description {
    margin-top: 0;
    color: #707070;
    font-size: 14px;
    line-height: 20px;
}

/* header */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    background: #3F51B5;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;    
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12),
                        0px 4px 4px 0px rgba(0,0,0,0.24);
       -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12),
                        0px 4px 4px 0px rgba(0,0,0,0.24);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12),
                        0px 4px 4px 0px rgba(0,0,0,0.24);
}

.header--open {
    height: 100%;
    width: 100%;
}

.hamburger {
    width: 24px;
    height: 24px;
    padding: 6px 3px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    -webkit-transform: translateX(16px) translateY(16px) rotate(0deg);
            transform: translateX(16px) translateY(16px) rotate(0deg);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header--open .hamburger {
    -webkit-transform: translateX(16px) translateY(16px) rotate(180deg);
            transform: translateX(16px) translateY(16px) rotate(180deg);
}

.hamburger__top,
.hamburger__mid,
.hamburger__bot {
    float: left;
    background-color: #B2B9E1;
    display: inline-block;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.hamburger__mid {
    margin: 3px 0;
}

.header--open .hamburger__top {
    width: 13px;
    -webkit-transform: translateX(5px) translateY(1px) rotate(45deg);
            transform: translateX(5px) translateY(1px) rotate(45deg);
}

.header--open .hamburger__mid {
    width: 20px;
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
}

.header--open .hamburger__bot {
    width: 13px;
    -webkit-transform: translateX(5px) translateY(-1px) rotate(-45deg);
            transform: translateX(5px) translateY(-1px) rotate(-45deg);
}

.header__logo {
    margin: 0;
    position: absolute;
    left: 50%;
    -webkit-transition: all 0.3s ease 0.5s;
            transition: all 0.3s ease 0.5s;
    -webkit-transform: translateX(-50%) translateY(5px);
            transform: translateX(-50%) translateY(5px);
}

.header__logo img {
    height: 50px;
}

.header--open .header__logo {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(32px);
            transform: translateX(-50%) translateY(32px);
}

.navigation {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 50%;
    -webkit-transition: all 0.3s ease 1s;
            transition: all 0.3s ease 1s;
    -webkit-transform: translateX(-50%) translateY(40%);
            transform: translateX(-50%) translateY(40%);
}

.header--open .navigation {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(56px);
            transform: translateX(-50%) translateY(56px);
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navigation ul li a {
    display: block;
    text-transform: uppercase;
    line-height: 2.5em;
    color: #FFF;
}

/* banner */
.banner {
    background-image: url("../img/bg_banner.png");
    background-repeat: repeat;
    box-sizing: border-box;
    min-height: 95vh;
    padding: 72px 16px 32px;
    text-align: center;
}

.banner__btn-start {
    display: inline-block;
    background: #FF4081;
    padding: 12px;
    font-family: 'robotomedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,0.87);
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 16px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),
                        0px 2px 2px 0px rgba(0,0,0,0.24); 
       -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),
                        0px 2px 2px 0px rgba(0,0,0,0.24);
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),
                        0px 2px 2px 0px rgba(0,0,0,0.24);
}

.banner__btn-start:focus,
.banner__btn-start:visited,
.banner__btn-start:active,
.banner__btn-start:hover {
    background: #FF4081;
    outline: none;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16),
                        0px 3px 6px 0px rgba(0,0,0,0.24);
       -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16),
                        0px 3px 6px 0px rgba(0,0,0,0.24);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16),
                        0px 3px 6px 0px rgba(0,0,0,0.24);
}

/* footer */
.footer {
    background: #212121;
    text-align: center;
    height: 48px;
    line-height: 48px;
}

.footer p {
    font-size: 14px;
    color: #FFF;
    margin: 0;
}

.footer a {
    color: #FFF;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.125em;}

    /* banner */
    .banner {
        padding: 128px 16px 100px;
    }

    .banner__item,
    .intro {
        width: 480px;
        margin: 0 auto;
    }

    .intro { margin-bottom: 32px; }

    .what-we-do__wrap,
    .process,
    .get-in-touch__wrap,
    .meet-the-team__wrap {
        padding: 32px 0;
    }

    .process { padding-bottom: 56px; }

    .what-we-do__item,
    .get-in-touch__item,
    .meet-the-team__item {
        width: 320px;
        margin: 0 auto 32px;
    }

    .meet-the-team__item {
        width: 300px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2 { font-size: 2em; }
    
    .icon {
        height: 50px;
        line-height: 50px;
    }

    .intro {
        margin-bottom: 72px;
    }

    /* header */
    .hamburger {
        opacity: 0;
        visibility: hidden;
    }

    .header__logo {
        left: 0;
        -webkit-transform: translateX(16px) translateY(5px);
                transform: translateX(16px) translateY(5px);
    }

    .banner__btn-start {
        font-size: 18px;
        padding: 16px 32px;
    }

    .navigation {
        visibility: visible;
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
    }

    .navigation ul {
        float: right;
        margin-right: 16px;
    }

    .navigation li {
        float: left;
        margin-left: 24px;
    }

    .navigation ul li a {
        color: #FFF;
        height: 56px;
        line-height: 3.5em;
        word-spacing: 2px;
    }

    .banner__item,
    .intro {
        width: 600px;
    }

    .banner__item h2,
    .intro h2 {
        margin-bottom: 32px;
    }

    .banner__item p,
    .intro p {
        font-size: 1.25em;
        line-height: 1.5em;
    }

    .what-we-do__wrap,
    .process,
    .get-in-touch__wrap,
    .meet-the-team__wrap {
        padding: 48px 0;
    }

    .process {
        padding-bottom: 96px;
    }

    .what-we-do__item,
    .get-in-touch__item,
    .meet-the-team__item  {
        width: 33.3333%;
        float: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
